/*
 * Workflow metadata
 */

manifest {
   author = "Patrick Barth"
   version = "0.1.0"
   mainScript = "main.nf"
   defaultBranch = "master"
   name = "xrRNA_protection"
   description = "Generates sequence out of several modular subsequences and tests for which the xrRNA keeps the same secondary structure"
   nextflowVersion = "23.10.0"
}

params {
	// Files
	xrRNA_file = './data/xrRNA_motifs.fna'
	spacer_file = './data/potential_spacer.fna'
	ires_file = './IRES_sequences.fna'
	cds_file = './CDS_sequences.fna'
	output_dir = "./output/"

	// params
	only_random_spacers = false
	only_specific_spacers = false
	percent_specific_spacers = 50
	spacer_min_length = 10
	spacer_max_length = 1000
	spacer_fixed_length = false

	number_sequences = 100
}

params.manifest   = manifest
params.help       = false

profiles {
	slurm {
		process.executor = 'slurm'
	}
	local {
		process.executor = 'local'
	}

	podman {
		podman.enabled = true
	}
}

process {
	withName: assemble_sequences {
		cpus = 1
		memory = '4 GB'
	}
	withName: predict_secondary_structure {
		cpus = 1
		memory = '8 GB'
		maxForks = 20
	}
	withName: extract_matching_structures {
		cpus = 1
		memory = '16 GB'
		maxForks = 20
	}
	withName: 'collect_workflow_metrics|collect_versions|collect_files' {
		cpus = 1
		memory = '100 MB'
	}
}
